<div class="container">
  <div class="header">
    <div class="title">
      <p class="title-name">
        Clips
      </p>
    </div>
    <div class="action">
      <button type="button" mat-flat-button>Manage</button>
      <div>
        <input #myFileInput class="upload-input" type='file' (change)="onSelectFile($event)">
        <button type="button" mat-flat-button (click)="myFileInput.click()">Upload</button>
      </div>
      <button type="button" mat-flat-button>About</button>
    </div>
  </div>
</div>
