.container {
  display: flex;
  .header {
    display: flex;
    justify-content: flex-start;
    border: 1px solid red;
    width: 100%;
    .title {
      width: 10%;
      .title-name {
        text-align: center;
      }
    }
    .action {
      display: flex;
      align-items: center;
      width: 100%;
      .upload-input {
        display: none;
      }
    }
  }
}
