<div class="container">
  <div class="inner">
    <div cdkDropListGroup class="elements-list-container">
      <div class="element-container">
        <div
          cdkDropList
          #todoElements="cdkDropList"
          [cdkDropListData]="elements()"
          [cdkDropListConnectedTo]="[itemsList]"
          class="elements-list"
          (cdkDropListDropped)="dropItem($event)">
          @for (item of elements(); track item) {
            <div class="draggable-item" cdkDrag>
              <div>
                <div>
                  <video class="record" controls>
                    <source [src]=item.video type="video/mp4">
                  </video>
                </div>
              </div>
              <div>
                {{ item.id }}
              </div>
              <div>
                {{ item.name }}
              </div>
              <div>
                {{ item.username }}
              </div>
              <div class="action-container">
                <app-element [item]="item">
                </app-element>
              </div>
            </div>
          }
        </div>
      </div>
      <div class="element-container">
        <div
          cdkDropList
          #itemsList="cdkDropList"
          [cdkDropListData]="items()"
          [cdkDropListConnectedTo]="[todoElements]"
          class="elements-list"
          (cdkDropListDropped)="dropItem($event)">
          @for (item of items(); track item) {
            <div class="draggable-item" cdkDrag>
              <div>
                <div>
                  <video class="record" controls>
                    <source [src]=item.video type="video/mp4">
                  </video>
                </div>
              </div>
              <div>
                {{ item.id }}
              </div>
              <div>
                {{ item.name }}
              </div>
              <div>
                {{ item.username }}
              </div>
              <div class="action-container">
                <app-element [item]="item">
                </app-element>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
