.container {
  width: 700px;

  .inner {
    .element-list-container {
      .element-container {
        width: 100%;
        border: solid 1px #ccc;
        border-radius: 5px;
        background: #fff;
        text-align: center;
        padding: 10px;
        margin: 0;

        .example-list {
          border: solid 1px #ccc;
          min-height: 60px;
          background: white;
          border-radius: 4px;
          overflow: hidden;

          .cdkDrag {
            display: flex !important;
            align-items: center !important;
            flex-direction: column !important;

            .url {
              width: 100%;
              .example-box {
                width: 100%;
                padding: 20px 10px;
                cursor: move;
                background: white;

                .play {
                  width: 100%;
                }
              }
            }

            .action-container {
              width: 100%;
              display: flex;
              justify-content: flex-end;
              border: solid 1px #ccc;
              border-radius: 5px;
              background: #fff;
              text-align: center;
              padding: 10px;
              margin: 0;

              .action {
                .cdk-overlay-container {
                  .element {
                    background: gray;
                    border: 1px solid red !important;
                    border-radius: 10%;
                    width: 100% !important;
                  }
                }

                .edit {

                }
              }
            }

            .action-container > li {
              list-style-type: none;
              border-bottom: solid 1px #8b8b8b;
              padding: 8px 0;
            }

            .action-container > li:last-child {
              border-bottom: none;
            }
          }

          .cdk-drag-preview {
            box-sizing: border-box;
            border-radius: 4px;
            box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
            0 8px 10px 1px rgba(0, 0, 0, 0.14),
            0 3px 14px 2px rgba(0, 0, 0, 0.12);
          }

          .cdk-drag-placeholder {
            opacity: 0;
          }

          .cdk-drag-animating {
            transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
          }

          .example-box:last-child {
            border: none;
          }

          .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
            transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
          }
        }
      }
    }
  }
}
