<div class="container">
  <div class="action-container">
    <div>
      <button class="action" type="button" (click)="openModal()">View</button>
      <div>
      </div>
      <div class="modal">
      </div>
    </div>
  </div>
</div>

<form [formGroup]="elementForm">
  <app-shared-modal #SharedModalComponent>
    <ng-template #content>
      @if (!canEdit()) {
        <div>
          <div>
            {{ item()?.id }}
          </div>
          <div>
            {{ item()?.name }}
          </div>
          <div>
            {{ item()?.username }}
          </div>
        </div>
      } @else {
        <div>
          <input placeholder="name" formControlName="username">
          <input placeholder="Username" formControlName="username">
          <input placeholder="id" formControlName="username">
<!--          <mat-form-field class="example-full-width">-->
<!--            <mat-label>Name</mat-label>-->
<!--            <input matInput placeholder="Name" formControlName="name">-->
<!--          </mat-form-field>-->
<!--          <mat-form-field class="example-full-width">-->
<!--            <mat-label>Username</mat-label>-->
<!--            <input matInput placeholder="Username" formControlName="username">-->
<!--          </mat-form-field>-->
<!--          <mat-form-field class="example-full-width">-->
<!--            <mat-label>Id</mat-label>-->
<!--            <input matInput placeholder="Id" formControlName="id">-->
<!--          </mat-form-field>-->
        </div>
      }
      <div>
        <button (click)="editFields()" type="button">{{ !canEdit() ? 'Edit' : 'Save' }}</button>
      </div>
    </ng-template>
  </app-shared-modal>
</form>

