.container {
  .inner {
    display: flex;

    .videos {
      display: flex;
      flex-wrap: wrap;
      flex: 1;
      .video-wrapper {
        .video {
          display: flex;
          max-width: 300px;
          max-height: 200px;
          min-width: auto;
          min-height: auto;
        }
      }
    }
  }
}
