<div class="container">
  <form [formGroup]="elementForm">
    <div formGroupName="data">
      <div>
        <p>Select to change</p>
        <section>
          <p><mat-checkbox formControlName="name">Name</mat-checkbox></p>
          <p><mat-checkbox formControlName="username">Username</mat-checkbox></p>
        </section>
      </div>
      <input class="element-field" placeholder="name" formControlName="name">
      <input class="element-field" placeholder="Username" formControlName="username">
    </div>
    <div>
      <button (click)="save()" type="button">Save</button>
      <button (click)="cancel()" type="button">Cancel</button>
    </div>
  </form>
</div>
