<div class="container">
  <div class="inner">
<!--    @if(elements().length){-->
<!--    }-->
      <div cdkDropListGroup class="elements-list-container">
        <div class="element-container">
          <div
            cdkDropList
            #todoElements="cdkDropList"
            [cdkDropListData]="elements()"
            [cdkDropListConnectedTo]="[itemsList]"
            class="elements-list"
            (cdkDropListDropped)="dropItem($event)">
            @for (item of elements(); track item) {
              <div class="draggable-item" cdkDrag>
                <div>
                  <video class="record" controls>
                    <source [src]=item.record type="video/mp4">
                  </video>
                </div>
                <div>
                  {{ item.id }}
                </div>
                <div>
                  {{ item.name }}
                </div>
                <div>
                  {{ item.username }}
                </div>
                <div class="action-container">
                  <button class="edit-fields" (click)="edit(item)" mat-raised-button>Edit</button>
                </div>
              </div>
            }
          </div>
        </div>
        <div class="element-container">
          <div
            cdkDropList
            #itemsList="cdkDropList"
            [cdkDropListData]="items()"
            [cdkDropListConnectedTo]="[todoElements]"
            class="elements-list"
            (cdkDropListDropped)="dropItem($event)">
            @for (item of items(); track item) {
              <div class="draggable-item" cdkDrag>
                <div>
                  <video class="record" controls>
                    <source [src]=item.record type="video/mp4">
                  </video>
                </div>
                <div>
                  {{ item.id }}
                </div>
                <div>
                  {{ item.name }}
                </div>
                <div>
                  {{ item.username }}
                </div>
                <div class="action-container">
                  <button class="edit-fields" (click)="edit(item)" mat-raised-button>Edit</button>
                </div>
              </div>
            }
          </div>
        </div>
      </div>
  </div>
</div>
