.container {
  position: absolute;

  .content {
    border: 1px solid #888;
    border-radius: 5px;
    padding: 5px;
    background-color: #fefefe;

    .element {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
    }

    .action {
      display: flex;
      justify-content: flex-end;
      width: 100%;

      .close {
        width: auto;
        background: white;
        color: red;
        border: 1px solid red;
        border-radius: 3px;
        font-size: 15px;
        margin: 5px;
      }

      .close:hover {
        cursor: pointer;
        background: #fff5f5;
      }
    }
  }
}
