body {
  margin: 0;
  background: #15213B;

  .draggable-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    gap: 5px;
    border: 1px solid #879bf4;
  }

  .cdk-drag-placeholder {
    opacity: 0.3;
  }
  .cdk-drag-preview {
    .action-container {
      .edit-fields {
        height: 22px;
        width: 30px;
        border-radius: 5px;
        background-color: #879bf436;
      }
    }
  }
}
