.container {
  background: #2E354E;
  height: 60px;

  .inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;

    .action {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 0 12px;
      margin-bottom: 30px;

      .action-info-button {
        border: 1px solid #879BF4;
        background: #879BF4;
        padding: 7px 14px;
        color: white;
        font-size: 16px;
        cursor: pointer;
      }

      .action-info-button:hover {
        color: #15213b;
      }

      .upload-input {
        display: none;
      }
    }

    .drag-and-drop-container {
      width: 700px;
      height: auto;

      .elements-list-container {
        display: flex;
        gap: 5%;
        padding: 5%;
        border: 1px solid #879bf4;
        border-radius: 5px;

        .element-container {
          width: 100%;
          min-height: 90px;
          border: 3px solid #879bf4;
          border-radius: 9px;
          background: #fff;
          padding: 10px;

          .elements-list {
            display: flex;
            flex-direction: column;
            gap: 5px;
            height: 100%;

            .draggable-item {
              display: flex;
              flex-direction: column;
              padding: 5px;
              gap: 5px;
              border: 1px solid #879bf4;
              cursor: move;

              .record-container {
                .record {
                  width: 100%;
                  height: 132px;
                }
              }
              .info {
                display: flex;
                width: 100%;
                .info-label {
                  display: flex;
                  justify-content: flex-start;
                  width: 35%;
                }
                .info-value {
                  display: flex;
                  justify-content: flex-start;
                  width: 65%;
                  color: #3d54bb;
                }
              }

              .action-container {
                display: flex;
                justify-content: flex-end;
                width: 100%;

                .edit-fields {
                  height: 22px;
                  width: 30px;
                  border-radius: 5px;
                  background-color: #879bf436;
                }
              }
            }
          }
        }
      }
    }

    .recent-upload {
      width: 350px;
      height: auto;

      .recent-upload-list-container {
        display: flex;
        padding: 5%;
        border: 1px solid #879bf4;
        border-radius: 5px;

        .recent-upload-container {
          display: flex;
          flex-direction: column;
          gap: 5px;
          width: 100%;
          min-height: 90px;
          border: 3px solid #879bf4;
          border-radius: 9px;
          background: #fff;
          padding: 10px;

          .recent-upload-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: max-content;
            padding: 5px;
            gap: 5px;
            border: 1px solid #879bf4;

            .record-container {
              .record {
                width: 100%;
                height: 132px;
              }
            }
            .info {
              display: flex;
              width: 100%;
              .info-label {
                display: flex;
                justify-content: flex-start;
                width: 35%;
              }
              .info-value {
                display: flex;
                justify-content: flex-start;
                width: 65%;
                color: #3d54bb;
              }
            }

            .action-container {
              display: flex;
              justify-content: flex-end;
              width: 100%;

              .edit-fields {
                height: 22px;
                width: 30px;
                border-radius: 5px;
                background-color: #879bf436;
              }
            }
          }
        }
      }
    }
  }
}
